<ion-view title="Settings">
   <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
   <ion-content class="has-header">
      <div ng-controller="ConfigCtrl">
         <div class="list">
            <div class="item item-divider">
               User Settings
            </div>
            <label class="item item-input">
               <span class="input-label">Username</span>
               <input type="text" ng-model="userName" ng-change="UpdateUserName();">
            </label>
            <label class="item item-input">
               <span class="input-label">Password</span>
               <input type="password" ng-model="password" ng-change="UpdatePassword();">
            </label>

            <div class="item item-divider">
               Log Options
            </div>
            <div class="item item-toggle">
               <span class="input-label">Log to Console</span>
               <label class="toggle">
                  <input type="checkbox" ng-model="logToConsole" ng-change="UpdateLogToConsole();" required>
                  <div class="track">
                     <div class="handle"></div>
                  </div>
               </label>
            </div>
            <div class="item item-toggle">
               <span class="input-label">Log to File</span>
               <label class="toggle">
                  <input type="checkbox" ng-model="logToFile" ng-change="UpdateLogToFile();" required>
                  <div class="track">
                     <div class="handle"></div>
                  </div>
               </label>
            </div>
            <div class="item">
               <span class="input-label">Log Levels:</span>
               <ul class="list list-inset">
                  <li class="item item-checkbox">
                     <label class="checkbox">
                        <input type="checkbox" ng-model="logMask.error" ng-change="UpdateLogMask();">
                     </label>
                     Error
                  </li>
                  <li class="item item-checkbox">
                     <label class="checkbox">
                        <input type="checkbox" ng-model="logMask.warn" ng-change="UpdateLogMask();">
                     </label>
                     Warning
                  </li>
                  <li class="item item-checkbox">
                     <label class="checkbox">
                        <input type="checkbox" ng-model="logMask.info" ng-change="UpdateLogMask();">
                     </label>
                     Info
                  </li>
                  <li class="item item-checkbox">
                     <label class="checkbox">
                        <input type="checkbox" ng-model="logMask.debug" ng-change="UpdateLogMask();">
                     </label>
                     Debug
                  </li>
               </ul>
            </div>

            <div class="item item-divider">
               Test Server Options
            </div>
            <label class="item item-input item-select">
               <div class="input-label">
                  Protocol
               </div>
               <select ng-model="server.protocol" ng-change="UpdateServer();">
                  <option>http</option>
                  <option selected>https</option>
               </select>
            </label>
            <label class="item item-input">
               <span class="input-label">Host</span>
               <input type="text" ng-model="server.host" ng-change="UpdateServer();">
            </label>
            <label class="item item-input">
               <span class="input-label">Path</span>
               <input type="text" ng-model="server.path" ng-change="UpdateServer();">
            </label>

      </div>
  </ion-content>
</ion-view>
