<ion-view title="Tester">
   <ion-nav-buttons side="left">
      <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>

   <ion-content class="has-header">
      <div class="list">
         <div class="item item-divider">
            Test Framework: {{title}} v{{version}}
         </div>

         <div class="item item-button-right" ng-show="state==='ready';">
            Run Tests:
            <button class="button" start-tester-button>
               <i class="icon ion-play"></i>
            </button>
         </div>

         <div class="item" ng-show="state==='running';">
            <i class="icon ion-loading-c"></i> Waiting for tests to complete...
         </div>

         <div ng-show="state==='complete';">
            <div class="bar bar-header bar-balanced" ng-if="testsFailed===0">
               <h1 class="title">All Tests Passed</h1>
            </div>
            <div class="bar bar-header bar-assertive" ng-if="testsFailed!==0">
               <h1 class="title">There are Failures</h1>
            </div>

            <div class="item item-icon-left">
               <i class="icon ion-beaker"></i>
               Total Tests:
               <span class="badge badge-stable">{{testsTotal}}</span>
            </div>
            <div class="item item-icon-left">
               <i class="icon ion-ribbon-b"></i>
               Tests Passed:
               <span class="badge badge-balanced">{{testsPassed}}</span>
            </div>
            <div class="item item-icon-left">
               <i class="icon ion-alert-circled"></i>
               Tests Failed:
               <span class="badge badge-assertive" ng-if="testsFailed!==0">{{testsFailed}}</span>
               <span class="badge badge-stable" ng-if="testsFailed===0">{{testsFailed}}</span>
            </div>
            <div class="item item-icon-left">
               <i class="icon ion-help"></i>
               Tests Pending:
               <span class="badge badge-positive">{{testsPending}}</span>
            </div>
            <div class="item item-icon-left">
               <i class="icon ion-android-clock"></i>
               Execution Duration:
               {{DurationString();}}
            </div>
            <div class="item item-divider">
            Summary
            </div>
            <label class="item item-input item-select">
               <div class="input-label">
                  Filter
               </div>
               <select ng-model="filterResults">
                  <option value="">All</option>
                  <option value="passed">Passed</option>
                  <option value="pending">Pending</option>
                  <option value="failed">Failed</option>
               </select>
            </label>
            <div class="card" ng-repeat="result in results | filter:filterResults" ng-click="ShowTest(result.id);">
               <div class="item item-text-wrap">
                  <i class="icon ion-android-checkmark balanced" ng-if="result.status==='passed'"></i>
                  <i class="icon ion-help positive" ng-if="result.status==='pending'"></i>
                  <i class="icon ion-android-close assertive" ng-if="result.status==='failed'"></i>
                  {{result.name}}
               </div>
            </div>
         </div>

      </div>
   </ion-content>
</ion-view>
