body {
   background-color: green;
   color: white;
   font-size: 24px;
   background-image: url('../img/felt.png');
}

.info {
   clear: both;
   margin-top: 1em;
}

.card-down {
   float: left;
   margin: 1em;
   background-image: url('../img/cards.png');
   background-position: 0 -560px;
   width: 100px;
   height: 140px;
}

.card-up {
   margin: 1em;
   float: left;
   width: 100px;
   height: 140px;
}
